<section class="row initial p-0 m-0">
  <div class="col bg-medical d-flex justify-content-center ">
      <div class="align-self-center text-end">
           <h1 class="text-light title-initial ">Electronic <br/> Medical <br/>Record</h1>
           <p class="text-secondary">Prontuário Eletrônico para registros médicos.<br/>Faça o login ou cadastre-se!</p>
           <a href="/login.html" class="btn btn-light w-25">Login</a>
           <a href="/pages/cadastro/usuarios/usuario-2-novo-index.html" class="btn btn-outline-light">Cadastre-se</a>
      </div>
  </div>
  <div class="col initial-image"></div>
</section>
