.initial {
  height: 100vh;
}

.title-initial {
font-size: 100px;
font-family: 'Roboto', sans-serif;
font-weight: 700;
line-height: 90px;
}

.initial-image {
background-image: url(../assets/images/background-initial.png);
background-repeat: no-repeat;
background-attachment: fixed;
background-position: right;
background-size: cover;
}
